.nav {
    width: 20%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: auto;
    position: absolute;
    z-index: 999;
    left: 0;
}
.nav .fix{
    position: fixed;
}
.nav img {
  margin-top: 20px;
}
.nav li a {
    display: block;
    color: #000;
    padding: 15px 40px;
    text-decoration: none;
    text-align: left;
    font-size: 1.25em;
    color:#bdc3c7;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
   
  }
  .nav li h3 {
  color: #bdc3c7;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

header ul li a:hover {
    background-color: #FFF;
    color: #000;
}
header ul li.active a {
  background-color: #FFF;
  color: #000;
}

.nav h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.0em;
}



.main1 {
    padding-top: 30px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    margin-left: auto;
    width: 80%;
    height: 100%;
    
}


.main1 h1 {
    
    text-align: left;
    margin-left: 30px;
    color:#000;
    font-size: 1.25rem;
    font-family: 'Indie Flower', cursive;
    color: #2f3542;
    margin-bottom: 20px;
}
.main1 p {
    font-size: 1.5rem;
    font-family: 'Do Hyeon', sans-serif;
    text-align: left;
    margin-left: 30px;
   
   
}
 .main1 h3 {
    text-align: left;
    margin-left: 30px;
    line-height: 30px;
    margin-top: 30px; 
    
 }
 .main1 h4 {
    text-align: left;
    margin-left: 30px;
    color:#485460;
    line-height: 25px;
 }

 .main2 {
  padding-top: 30px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  margin-left: auto;
  width: 80%;
  height: 100%;
  
  
}
.main2 h1 {
  text-align: left;
  margin-left: 30px;
  color:#000;
  font-size: 1.25rem;
  font-family: 'Indie Flower', cursive;
  color: #2f3542;
  margin-bottom: 20px;
}
.main2 p {
  font-size: 1.5rem;
  font-family: 'Do Hyeon', sans-serif;
  text-align: left;
  margin-left: 30px;
}
.main2 h3 {
  text-align: left;
  line-height: 30px;
}
 
.main2 h4 {
  text-align: left;
  margin-left: 30px;
  line-height: 30px;
}
.progress-bar {
    margin-bottom: 1rem;
    background-color: lightgray;
    border-radius: 1.25em;
    width: 300px;
    height: 16px;
    display: inline-block;
}
.progress-value {
    background-color: #673ab7;
    transition: 0.3s all linear;
    border-radius: 1.25em;
    height: 16px;
    display: inline-block;
    animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards;
}
.progress-value.green {
    background-color: #4CAF50;
    animation: progress-3 3s ease-in-out forwards;
    -webkit-animation: progress-3 3s ease-in-out forwards;
}
.progress-value.yellow {
   background-color: #ff9800;
  animation: progress-2 3s ease-in-out forwards;
    -webkit-animation: progress-2 3s ease-in-out forwards;
}
.progress-value.pink {
  background-color: #e84393;
 animation: progress-4 3s ease-in-out forwards;
   -webkit-animation: progress-4 3s ease-in-out forwards;
}
.progress-value.blue {
  background-color: #00cec9;
 animation: progress-5 3s ease-in-out forwards;
   -webkit-animation: progress-5 3s ease-in-out forwards;
}
/* animation */
 @keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
 @-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
 @keyframes progress-2 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
 @-webkit-keyframes progress-2 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
 @keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
 @-webkit-keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes progress-4 {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
 @-webkit-keyframes progress-4 {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes progress-5 {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}
 @-webkit-keyframes progress-5 {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}
#wh-pro {
  margin-left: 30px;
}
#wh-pro p {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.8rem;
}

.note1 {
  margin-left: 50px;
  position:relative;
  background:#f1f1f1;
  width:1000px;
  max-width: 100%;
  text-align: center;
  padding: 50px;
  color:black;
  }

.note1:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  border-width:0 16px 16px 0; 
  border-style:solid;
  border-color: #FFFFFF #FFFFFF #000  #000 ; 
  background: #0000; 
  display:block; width:0;   
}

.txtBox10bg, .txtBox11bg, .txtBox12bg, .txtBox13bg, .txtBox14bg {
   border-style: solid; border-width: 0 0 0 8px; padding: 12px; word-break: break-all; 
   margin-left: 30px;

  } .txtBox10bg { border-color: LightGray; background-color:rgba(211, 211, 211, 0.2); } 
  .txtBox11bg { border-color: DodgerBlue; background-color:rgba(30, 144, 255, 0.2); } 
  .txtBox12bg { border-color: LightSalmon; background-color:rgba(255, 160, 122, 0.2); } 
  .txtBox13bg { border-color: Tomato; background-color:rgba(255, 99, 71, 0.2); } 
  .txtBox14bg { border-color: Crimson; background-color:rgba(237, 20, 61, 0.2); }

  .jb-box { width: 100%; height: 1000px; overflow: hidden; margin: 0px auto; position: relative; }
  video { width: 100%; }
  .jb-text { position: absolute; top: 50%; width: 100%; }
  .jb-text p { margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff; }

  .maindark{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#000;
    margin-left: auto;
   
  }
  .accordion-list {
    box-sizing: border-box;
  }
  
  .accordion-list ul {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Nanum Gothic', sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ul.accordion-list {
    font-family: 'Nanum Gothic', sans-serif;  
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
    list-style: none;
    background-color: #FFF;
  }
    
  .accordion-list li {
      position: relative;
      display: block;
      width: 80%;
      height: auto;
      background-color: #f1f1f1;
      padding: 20px;
      margin: 0 auto 15px auto;
      border: 1px solid #f1f1f1;
      border-radius: 5px;
      cursor: pointer;
  }
  .accordion-list .active {
        h3 {
          .accordion-list::after {
            transform: rotate(45deg);
          }
        }
      }
      
      .accordion-list h3 {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding: 0 0 0 0;
        margin: 0;
        font-size: 15px;
        letter-spacing: 0.01em;
        cursor: pointer;
      }
      .accordion-list :after {
          content: "\f278";
          font-family: 'Nanum Gothic', sans-serif;
          position: absolute;
          right: 0;
          top: 0;
          color: #f1f1f1;
          transition: all 0.3s ease-in-out;
          font-size: 18px;
        }
      
      
      div.answer {
        position: relative;
        display: none;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        cursor: pointer;
        font-family: 'Nanum Gothic', sans-serif;
      }
      

      .accordion-list p {
          font-family: 'Nanum Gothic', sans-serif;
          position: relative;
          display: block;
          font-weight: 300;
          padding: 10px 0 0 0;
          cursor: pointer;
          line-height: 150%;
          margin: 0 0 15px 0;
          font-size: 14px; 
        }
    
        #section1 .main1 {
          background: url('../img/hello.jpg') no-repeat center center;
        background-size: cover;
        }
        
       