.whole_form {
    width: 80%;
    margin: 0 auto; /*가운데정렬*/
}

.joinMain { 
    text-align: center;
    margin-top: 100px;
}

.joinMain h2 {
    font-weight: bold;
}
.joinMain p {
    color: #636e72;
    margin-top: 15px;
    margin-bottom: 15px;
}

.joinMainK {
    border: 1px solid gainsboro;
    width: 80%;
    margin: auto; /*가운데 정렬*/
    padding: 1%;
    margin-bottom: 3%;
    box-sizing: border-box;
}
.table table {
    width: 100%;
}

.smallMG {
    margin-top: 80px;
    margin-left: 10px;
}


.table tr {
    border-top: 1px solid #ddd;
}

.table tr:last-child {
    border-bottom: 1px solid #ddd;
}

.table th {
    font-weight: 400;
    padding: 10px;
    background: #efefef;
    vertical-align: middle;
}

.table td {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    line-height: 24px;
}

.table caption {
    text-align: left;
    margin-bottom: 15px;
    font-weight: 400;
}