.whole_form {
    width: 80%;
    margin: 0 auto; /*가운데정렬*/
}

.joinMain { 
    text-align: center;
    margin-top: 100px;
}

.joinMain h2 {
    font-weight: bold;
}
.joinMain p {
    color: #636e72;
    margin-top: 15px;
    margin-bottom: 15px;
}

.joinMainK {
    border: 1px solid gainsboro;
    width: 80%;
    margin: auto; /*가운데 정렬*/
    padding: 1%;
    margin-bottom: 3%;
    box-sizing: border-box;
}